@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root {
	--mainbg: #eef1fb;
	--secbg: #FFF;
	--lightblue: #1dbef9;
	--darklightblue: #3498db;
	--lightgray: #cacaca;
	--boxshadow-blue:#e6e9f9;
	--fontsize:1em;
	--inputfontsize:1em;
	--body-font: 'Poppins', sans-serif;
 }


* {
	font-family: var(--body-font);
  }

  body {
	overflow-y: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--mainbg);
	height: 100vh;
	overflow: hidden;
  }
  
  .a_style{
	  text-decoration: none;
	  color: white;
	  text-align: center;
  }
  .screen-1{
	background: var(--secbg);
	padding: 2em;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	gap: 2em;
	width: 300px;
	height: auto;
	opacity: 0.95;
  }
  .screen-1 .email {
	background: white;
	box-shadow: 0 0 2em var(--boxshadow-blue);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border-radius: 20px;
	color: #4d4d4d;
	margin-top: -3em;
  }
  .screen-1 .email input {
	outline: none;
	border: none;
	width: 100%;
	font-size: var(--inputfontsize);
  }
  .screen-1 .email input::placeholder {
	color: var(--lightgray);
	font-size: var(--fontsize);
  }
  .screen-1 .password {
	background: white;
	box-shadow: 0 0 2em var(--boxshadow-blue);
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	border-radius: 20px;
	color: #4d4d4d;
  }

  .screen-1 .password input {
	outline: none;
	border: none;
	width: 100%;
	font-size: var(--inputfontsize);
  }
  .screen-1 .password input::placeholder {
	color: var(--lightgray);
	font-size: var(--fontsize);
  }
  .screen-1 .password ion-icon {
	color: #4d4d4d;
	margin-bottom: -0.2em;
  }
  .screen-1 .password .show-hide {
	margin-right: -5em;
  }
  .screen-1 .login {
	padding: 1em;
	background: var(--darklightblue);
	color: white;
	border: none;
	border-radius: 30px;
	font-weight: 600;
	width: 10em;
	transition: 0.5s;
	font-size: var(--fontsize);
  }
  .screen-1 .register {
	padding: 1em;
	background: var(--darklightblue);
	color: white;
	border: none;
	border-radius: 30px;
	font-weight: 500;
	width: 10em;
	transition: 0.5s;
  }
  .login:hover{
	background: var(--lightblue);
  }
  
  .screen-1 .footer {
	display: flex;
	font-size: 0.7em;
	color: #5e5e5e;
	padding-bottom: 10em;
  }
  .screen-1 .footer span {
	cursor: pointer;
  }
  
  button {
	cursor: pointer;
  }




.left-circle {
    width: 500px;
    height: 500px;
    background-color: #3498db;
    border-radius: 0 500px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
	transition: width 0.5s, height 0.5s;
}
/*.right-circle {
    width: 500px;
    height: 500px;
    background-color: #3498db;
    border-radius: 0 0 0 500px;
    position: absolute;
	top: 0;
	right: 0;
    z-index: -1;
} */
@media screen and (max-width: 768px) {
    .left-circle {
		width: 350px;
		height: 350px;
	}
	/*.right-circle {
		width: 250px;
		height: 250px;
	}*/
}
  /*
  .right-circle{
	width: 600px;
	height: 100%;
	background-color: yellow;
	border-radius: 500px 0px 0px 500px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
	transition: 0.5s;
}

.right-circle img {
    padding-top: 150px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
  }
  
@media screen and (max-width: 1024px) {
	  .right-circle {
		opacity: 0;
	  }
}
*/
.middle{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap:10px;
}
.languageButton{
	width: 32px;
	height: 32px;
	background-color: var(--darklightblue);
	border: 0px;
	border-radius: 10px;
}

.languageButton img{
	width: 16px;
	height: 13px;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}
  
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
  
.topnav a.active {
	background-color: #04AA6D;
	color: white;
}

