//main
$blue-color: #1dbef9;
$darkgrey-color: #333333;
$lightgrey-color: #888888;
$darkwhite-color: #eef1fb;
$lightwhite-color: #fafafa;
$white-color: #FFF;
$box-shadow-color: #c1cfd4;
$black-color: #000;

//login
$dark-blue-color: #3498db;

//checkbox
$green-color: #44cc66;
$blue-box-shadow: rgba($dark-blue-color, 0.75);

//overlay
$orange-color: rgb(254,155,75);
$orange-gradient-color: linear-gradient(355deg, rgba($orange-color,1) 0%, rgba(255,208,153,1) 100%);
    