@use 'colors';
/* A teljes képernyős overlay, rejtett alapállapotban */
.overlay {
    position: fixed;
}

/* Gomb stílus */
.overlay-button {
  margin: 0 auto;
  background: colors.$orange-gradient-color;
  color: colors.$white-color;
  box-shadow: 0px 5px 20px -5px colors.$orange-color;
  -webkit-box-shadow: 0px 5px 20px -5px colors.$orange-color;
  -moz-box-shadow: 0px 5px 20px -5px colors.$orange-color;
  font-size: 32px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 64px;
  height: 64px;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: colors.$lightwhite-color;
    opacity: 0.85;
  }
}


/* Responsív stílus a kisebb képernyőkre (pl. telefonok) */
@media (max-width: 767px) {
  .overlay {
    bottom: 100px;
    left: 10px; /* A gomb 10px-re legyen a kijelző bal szélétől */
  }
}
/* Responsív stílus a nagyobb képernyőkre */
@media (min-width: 768px) {
  .overlay {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

