@use 'colors';

table {
	border: 1px solid rgba(colors.$lightgrey-color, 0.5);
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
	height: 100px;
	caption {
		font-size: 1.5em;
		margin: .5em 0 .75em;
	}
	tr {
		background-color: colors.$lightwhite-color;
		border: 1px solid rgba(colors.$lightgrey-color, 0.7);
		padding: .35em;
	}
	th {
		padding: .625em;
		text-align: center;
		font-size: .85em;
		letter-spacing: .1em;
		text-transform: uppercase;
	}
	td {
		padding: .625em;
		text-align: center;
		font-size: .8em;
	}
}
@media screen and (max-width: 767px) {
	table {
		border: 0;
		caption {
			font-size: 1.3em;
		}
		thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}
		tr {
			border-bottom: 3px solid rgba(colors.$lightgrey-color, 0.7);
			display: block;
		}
		td {
			border-bottom: 1px solid rgba(colors.$lightgrey-color, 0.7);
			display: block;
			font-size: .8em;
			text-align: right;
			&::before {
				content: attr(data-label);
				float: left;
				font-weight: bold;
				text-transform: uppercase;
			}
			&:last-child {
				border-bottom: 0;
			}
		}
	}
}
